# Roblox / Rojo / VSCode 用

*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

*.log
*.tmp

out/
build/

.vscode/
.history/

.DS_Store
Thumbs.db

node_modules/
Packages/
wally.lock

.luau/

*.coverage
coverage/

*.bak
*.old
