name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Foreman
        uses: Roblox/setup-foreman@v1

      - name: Install tools
        run: foreman install

      - name: Install Wally packages
        run: wally install

      - name: Build place
        run: rojo build test.project.json -o test.rbxl